{% extends 'SmirikCourseBundle::layout.html.twig' %}

{% block title %}{{ 'admin.lesson.edit.page_title'|trans }}{% endblock %}

{% block header %}
<h1>{{ 'admin.lesson.edit.title'|trans }} <small>{{ 'admin.lesson.edit.title.comment'|trans }}</small></h1>
{% endblock %}

{% block body %}

{% form_theme edit_form 'SmirikCourseBundle:Form:fields.html.twig' %}

<form action="{{ path('admin_lessons_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<fieldset>
    {{ form_widget(edit_form) }}
   <p>
       <button type="submit" class="btn primary">{{ 'admin.course.action.edit'|trans }}</button>
   </p>
	</fieldset>
</form>

<form action="{{ path('admin_lessons_delete', { 'id': entity.id }) }}" method="post">
<div class="well">
    {{ form_widget(delete_form) }}
		<a href="{{ path('admin_courses') }}" class="btn">
		    {{ 'admin.course.action.back'|trans }}
		</a>
    <button type="submit" class="btn danger">{{ 'admin.course.action.delete'|trans }}</button>
</div>
</form>
{% endblock %}